<div class="alert alert-dismissible announcement fade show fixed-bottom bg-dark m-0 pr-3">
  <div class="container text-light px-0 py-4">
    <h4>March 29, 2020: Update on COVID-19</h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"><i class="fas fa-times"></i></span>
    </button>
    <p class="text-light mb-0">
      <strong>
        <u>Due to COVID-19, TEDxYouth@VictoriaPark 2020 will be postponed.</u>
      </strong>
      <br>
      If you currently have a TEDxYouth@VictoriaPark 2020 ticket and are still able to attend when we have confirmed a
      new date, your current ticket will remain valid for the postponed event, and no changes would need to be made.
      Otherwise, please let us know if you would like a refund.
      <br>
      <a href="#announcementDetails" data-toggle="collapse">
        Read more <i class="fas fa-arrow-down"></i>
      </a>
    </p>
    <div class="collapse" id="announcementDetails">
      <p class="text-light mb-0">
        We will update our website when we have a new event date and you may stay in touch with us through our social
        media platforms.
        <br>
        Your health and safety is our main priority, and we want to ensure that our event will be comfortable and
        worry-free for you and all other participants. We apologize for any inconvenience.
        <br>
        Should you have any questions or concerns, please do not hesitate to email us at
        <a href="mailto:info@tedxyouthvictoriapark.ca">info@tedxyouthvictoriapark.ca</a>
        <br>
        Sincerely,
        <br>
        TEDxYouth@VictoriaPark Committee
      </p>
    </div>
  </div>
</div>
