<div class="alert alert-dismissible announcement fade show fixed-bottom bg-dark m-0 pr-3">
  <div class="container text-light px-0 py-4">
    <h4>Update on COVID-19</h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"><i class="fas fa-times"></i></span>
    </button>
    <p class="text-light mb-0">
      With the current concerns surrounding COVID-19, discussions are currently being made about whether or not to
      officially defer our event date for TEDxYouth@VictoriaPark 2020.
      <br>
      <strong>
        <u>At this time, our event will still proceed on Saturday, May 9, 2020 at the New Central Library.</u>
      </strong>
      <br>
      <a href="#announcementDetails" data-toggle="collapse">
        Read more <i class="fas fa-arrow-down"></i>
      </a>
    </p>
    <div class="collapse" id="announcementDetails">
      <p class="text-light mb-0">
        We will update you on the situation should any change occur. If you have purchased or want to purchase a
        TEDxYouth@VictoriaPark 2020 ticket, you are still able to do so. If the date of our event changes and you can
        attend, you will still have your ticket and no changes would need to be made. Otherwise, we will provide refunds
        if needed.
        <br>
        Your health and safety is our main priority, and we want to ensure that our event will be comfortable and
        worry-free for you and all other participants.
        <br>
        Should you have any questions or concerns, please do not hesitate to email us at
        <a href="mailto:info@tedxyouthvictoriapark.ca">info@tedxyouthvictoriapark.ca</a>
      </p>
    </div>
  </div>
</div>
