<section class="contact bg-dark"><a id="contact" class="anchor"></a>
  <div class="container">
    <h1 class="text-center text-light section-heading">Contact Us</h1>
    <p class="text-center text-light-dim">
      TEDxYouth@VictoriaPark wants to hear from you! We welcome any inquiries, comments or suggestions, and we look
      forward to connecting.<br>
    </p>
    <form name="gform" id="gform" enctype="text/plain"
        action="https://docs.google.com/forms/d/e/1FAIpQLSftXHyztRcnYcZuEtW2yshTXVV-K-eoJHiL_dWrlg5C64y0_w/formResponse?"
        target="hidden_iframe" onsubmit="submitted=true;">
      <div class="form-row">
        <div class="col-md-4 col-lg-4">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Your Name" required name="entry.1028854707">
          </div>
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Your Email" name="entry.197179714" required>
          </div>
        </div>
        <div class="col-md-8 col-lg-8">
          <div class="form-group">
            <textarea class="form-control" name="entry.424193727" placeholder="Your Message" required></textarea>
          </div>
        </div>
      </div>
      <div class="form-group text-center submit-button">
        <button class="btn btn-primary btn-lg" type="submit" id="submit-form">Send Message</button>
      </div>
    </form>
    <h4 class="text-center text-light pt-5 mb-0" id="submit-msg" style="display: none;">
      Your response has been received. Thank you!
    </h4>
    <script type="text/javascript">
      var submitted = false;
      document.getElementById('gform').addEventListener('submit', function (e) {
          document.getElementById('submit-form').innerHTML =
              '<i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>';
      });
    </script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display: none;" onload="if (submitted) {
        document.getElementById('gform').style.display = 'none';
        document.getElementById('submit-msg').style.display = 'block';}">
    </iframe>
  </div>
</section>
