<header>
  <div class="container">
    <div class="hero">
      <div class=intro-img>
        <a class="page-scroll" href="#theme">
          <picture>
            <source media="(min-width: 768px)" srcset="/images/Shifting-Equilibrium-white.png">
            <source media="(max-width: 768px)" srcset="/images/Shifting-Equilibrium-white-small.png">
            <img src="/images/Shifting-Equilibrium-white.png" class="intro-img img-responsive img-centered">
          </picture>
        </a>
      </div>
      <!-- <div class="intro-heading">
        <div class="countdown">
          <span id="countdownD"></span>
          <span style="font-weight: 400;"> days</span>
        </div>
        <div class="countdown">
          <span id="countdownH"></span>
          <span style="font-weight: 400;"> hours</span>
        </div>
        <div class="countdown">
          <span id="countdownM"></span>
          <span style="font-weight: 400;"> minutes</span>
        </div>
      </div>
      <a class="page-scroll btn btn-xl" href="https://www.eventbrite.ca/e/tedxyouthvictoriapark-tickets-58414500343"
          target="_blank">Buy Tickets&nbsp;&nbsp;<i class="fa fa-external-link-alt"></i></a> -->
    </div>
  </div>
</header>
