<header>
  <div class="container">
    <div class="intro-text">
      <div class=intro-img>
        <picture>
          <source media="(min-width: 768px)" srcset="/images/Shifting-Equilibrium.png">
          <source media="(max-width: 768px)" srcset="/images/Shifting-Equilibrium-small.png">
          <a class="page-scroll" href="#theme">
            <img src="/images/Shifting-Equilibrium.png" class="intro-img img-responsive img-centered">
          </a>
        </picture>
      </div>
      <div class="intro-heading" id="countdown"></div>
      <a href="#about" class="page-scroll btn btn-xl header-button">Learn More</a>
    </div>
  </div>
</header>
