<header class="d-flex align-items-center">
  <div class="container">
    <div class="hero">
      <a class="page-scroll" href="#theme">
        <picture>
          <source media="(min-width: 768px)" srcset="/images/CtrlAltDel-white.png">
          <source media="(max-width: 768px)" srcset="/images/CtrlAltDel-white-small.png">
          <img class="img-fluid intro-img pb-5" src="/images/CtrlAltDel-white.png">
        </picture>
      </a>
      <h3 class="intro-heading pb-5">
        TEDxYouth@VictoriaPark 2020<br>
        will be on May 9th<br>
        at the New Central Library
      </h3>
      <a href="#speakers" class="btn btn-primary btn-lg intro-button page-scroll">Nominate Speaker</a>
    </div>
    <a class="page-scroll" href="#about"><i class="fas fa-angle-down hero-scroll"></i></a>
  </div>
</header>
