<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand text-left page-scroll"
        href="{% if page.url == '/' %}#page-top{% else %}/{% endif %}">
      <img src="/images/logos/TEDxYouth@VictoriaPark-logo-navbar.png">
    </a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navcol">
      <ul class="nav navbar-nav d-xl-flex ml-auto align-items-xl-center">
        <li class="nav-item" role="presentation">
          <a class="nav-link page-scroll"
              href="{% if page.url == '/' %}#about{% else %}/#about{% endif %}">About</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link page-scroll"
              href="{% if page.url == '/' %}#speakers{% else %}/#speakers{% endif %}">Speakers</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link page-scroll"
              href="{% if page.url == '/' %}#sponsors{% else %}/#sponsors{% endif %}">Sponsors</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link page-scroll"
              href="{% if page.url == '/' %}#team{% else %}/#team{% endif %}">Team</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link page-scroll"
              href="{% if page.url == '/' %}#contact{% else %}/#contact{% endif %}">Contact</a>
        </li>
        <li class="nav-item" role="presentation" data-toggle="tooltip" data-placement="bottom" data-html="true"
          title="Eventbrite <i class='fas fa-external-link-alt'></i>"
        >
          <a class="btn btn-primary btn-lg nav-link" role="button" target="_blank" rel="noreferrer"
            href="https://www.eventbrite.ca/e/tedxyouthvictoriapark-2020-tickets-76599632563"
          >
            Buy Tickets
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
