<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Group brand and toggle for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% if page.url == "/" %}
				<a class="navbar-brand page-scroll" href="#page-top">
			{% else %}
				<a class="navbar-brand page-scroll" href="/">
			{% endif %}
				<img class="logo-img" src="/images/logos/TEDxYouth@VictoriaPark-logo-navbar.png" alt="Logo">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<a class="page-scroll" href="#about">About</a>
				</li>
				<li>
					<a class="page-scroll" href="#speakers">Speakers</a>
				</li>
				<li>
					<a class="page-scroll" href="#sponsors">Sponsors</a>
				</li>
				<li>
					<a class="page-scroll" href="#team">Team</a>
				</li>
				<li>
					<a class="page-scroll" href="#contact">Contact</a>
				</li>
				<li>
					<a class="btn btn-xl" href="https://www.eventbrite.ca/e/tedxyouthvictoriapark-tickets-58414500343" target="_blank">RSVP</a>
				</li>
			</ul>
		</div>
	</div>
</nav>