<section class="partnership bg-gray"><a id="partnership" class="anchor"></a>
  <div class="container">
    <h1 class="text-center section-heading">Interested in Partnering with Us?</h1>
    <hr class="section-heading-divider">
    <p class="text-muted pb-4">
      With your generosity, you can help our youth pursue their biggest ideas and make a positive change in our society.
      We are open to a diverse number of partnership opportunities and have sponsorship packages available. If you have
      a unique goal in mind for sponsorship and partnership, please reach out to us at
      <a href="mailto:sponsorship@tedxyouthvictoriapark.ca">sponsorship@tedxyouthvictoriapark.ca</a>.
    </p>
    <h5 class="text-center">
      We can't wait to collaborate with you!
    </h5>
</section>
