<div class="social-bar">
  <a href="https://www.facebook.com/tedxyouthvictoriapark" target="_blank" class="social-facebook">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="https://www.instagram.com/tedxyouthvictoriapark" target="_blank" class="social-instagram">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://twitter.com/tedxyouthvp" target="_blank" class="social-twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://www.linkedin.com/company/tedxyouthvictoriapark/" target="_blank" class="social-linkedin">
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>
