<!-- Speakers section -->
<section id="speakers">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Speakers</h2>
				<h3 class="section-subheading text-muted">The speakers of TEDxYouth@VictoriaPark 2019 will be announced soon. Click <a href="#apply">here</a> to apply.</h3>
			</div>
		</div>
		<div class="row">
		{% for speaker in site.speakers %}
			<div class="col-md-4 col-sm-6 portfolio-item">
				<a href="#speaker{{ speaker.modal-id }}" class="portfolio-link" data-toggle="modal">
					<div class="portfolio-hover">
						<div class="portfolio-hover-content">
							<i class="fa fa-plus fa-3x"></i>
						</div>
					</div>
					<img src="images/portfolio/{{ speaker.thumbnail }}" class="img-responsive img-centered" alt="">
				</a>
				<div class="portfolio-caption">
					<h4>{{ speaker.title }}</h4>
					<p class="text-muted">{{ speaker.subtitle }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</section>
