<section class="speakers"><a id="speakers" class="anchor"></a>
  <div class="container">
    <h1 class="text-center section-heading">Speakers</h1>
    <hr class="section-heading-divider">
    <p class="text-center pb-4">
      <strong>The speakers of TEDxYouth@VictoriaPark 2020 will be announced soon.</strong>
    </p>
    <p class="text-center text-muted">
      <a href="#speakers-2019" data-toggle="modal">Click here to view the speakers of TEDxYouth@VictoriaPark 2019</a>
    </p>
  </div>

  <div class="modal fade" id="speakers-2019" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h2 class="modal-title flex-fill text-center">2019 Speakers</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row justify-content-center">
              {% assign sorted_speakers = site.speakers-2019 | sort:"order" %}
              {% for speaker in sorted_speakers %}
              <div class="col-sm-6 col-md-4 text-center speaker-box">
                <a href="#{{ speaker.modal-id }}" data-toggle="modal">
                  <div class="modal-img">
                    <img class="img-thumbnail img-fluid lazyload" data-src="/images/speakers/{{ speaker.thumbnail }}">
                    <div class="modal-overlay img-thumbnail"><i class="fa fa-plus fa-3x text-white"></i></div>
                  </div>
                </a>
                <a href="#{{ speaker.modal-id }}" data-toggle="modal">
                  <p class="speaker-name text-center" data-toggle="tooltip" data-placement="top" title="Click to read more!">
                    <strong><span style="text-decoration: underline;">{{ speaker.name }}</span></strong>
                  </p>
                </a>
                <p class="speaker-subtitle text-center text-muted">{{ speaker.subtitle }}<br></p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
