<section class="speakers"><a id="speakers" class="anchor"></a>
  <div class="container">
    <h1 class="text-center section-heading">Speakers</h1>
    <p class="text-center"><strong>TEDxYouth@VictoriaPark 2019</strong></p>
    <hr class="section-heading-divider">
    <div class="row justify-content-center">
      {% assign sorted_speakers = site.speakers | sort:"order" %}
      {% for speaker in sorted_speakers %}
      <div class="col-sm-6 col-md-4 text-center speaker-box">
        <a href="#{{ speaker.modal-id }}" data-toggle="modal">
          <div class="modal-img">
            <img class="img-thumbnail img-fluid lazyload" data-src="/images/speakers/{{ speaker.thumbnail }}">
            <div class="modal-overlay img-thumbnail"><i class="fa fa-plus fa-3x text-white"></i></div>
          </div>
        </a>
        <a href="#{{ speaker.modal-id }}" data-toggle="modal">
          <p class="speaker-name text-center" data-toggle="tooltip" data-placement="top" title="Click to read more!">
            <strong><span style="text-decoration: underline;">{{ speaker.name }}</span></strong>
          </p>
        </a>
        <p class="speaker-subtitle text-center text-muted">{{ speaker.subtitle }}<br></p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
