{% for speaker in site.speakers %}
<div class="modal fade" id="{{ speaker.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <h2 class="modal-title flex-fill text-center">{{ speaker.name }}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <img data-src="/images/speakers/{{ speaker.img }}" class="img-thumbnail img-fluid lazyload">
            </div>
            <div class="col-md-9">
              <p>{{ speaker.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
