<!-- Speaker modals -->
{% for speaker in site.speakers %}
<div class="speaker-modal modal fade" id="{{ speaker.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>{{ speaker.name }}</h2>
          <hr class="star-primary">
        </div>
      </div>
      {% if speaker.img %}
      <div class="row vcenter">
        <div class="col-lg-3">
          <img data-src="/images/speakers/{{ speaker.img }}" class="img-responsive lazyload"
              alt="{{ speaker.name }}'s image">
        </div>
        <div class="col-lg-8">
      {% else %}
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
      {% endif %}
          <div class="modal-body">
            <p>{{ speaker.description }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
