<!-- Sponsors section -->
<section id="sponsors" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="margin-bottom: 40px;">Our Sponsors</h2>
        <!-- <h3 class="section-subheading text-muted"></h3> -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <h5 class="text-muted text-center">Platinum</h5>
          <hr class="star-primary">
        </div>
        <div class="row vcenter">
          <div class="col-md-4">
            <a href="https://vizworx.com/" target="_blank">
              <img data-src="/images/logos/VizworX-logo.png" class="img-responsive img-centered lazyload" alt=""
                  data-toggle="tooltip" data-placement="bottom" title="VizworX Inc.">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://albertainnovates.ca/" target="_blank">
              <img data-src="/images/logos/Alberta-Innovates-logo.png" class="img-responsive img-centered lazyload"
                  alt="" data-toggle="tooltip" data-placement="bottom" title="Alberta Innovates">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.theaceclass.com/" target="_blank">
              <img data-src="/images/logos/The-Ace-Class-logo.png" class="img-responsive img-centered lazyload" alt=""
                  data-toggle="tooltip" data-placement="bottom" title="The Ace Class">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <h5 class="text-muted text-center">Silver</h5>
          <hr class="star-primary">
        </div>
        <div class="row vcenter">
          <div class="col-md-4">
            <a href="https://www.ucalgary.ca/science/ideas_fund/" target="_blank">
              <img data-src="/images/logos/The-IDEAS-Fund-logo.png" class="img-responsive img-centered lazyload"
                  style="max-height: 140px;" alt="" data-toggle="tooltip" data-placement="bottom"
                  title="The IDEAS Fund">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://nulli.com/" target="_blank">
              <img data-src="/images/logos/Nulli-logo.png" class="img-responsive img-centered lazyload" alt=""
                  data-toggle="tooltip" data-placement="bottom" title="Nulli - Identity Management">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://lighthouselabs.ca/" target="_blank">
              <img data-src="/images/logos/Lighthouse-Labs-logo.png" class="img-responsive img-centered lazyload" alt=""
                  data-toggle="tooltip" data-placement="bottom" title="Lighthouse Labs">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <h5 class="text-muted text-center">Bronze</h5>
          <hr class="star-primary">
        </div>
        <div class="row vcenter">
          <div class="col-md-4">
            <a href="https://www.quonassociates.com/" target="_blank">
              <img data-src="/images/logos/Quon-logo.png" class="img-responsive img-centered lazyload" alt=""
                  data-toggle="tooltip" data-placement="bottom" title="Quon and Associates">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://cravecupcakes.ca/" target="_blank">
              <img data-src="/images/logos/Crave-logo.png" class="img-responsive img-centered lazyload" alt=""
                  data-toggle="tooltip" data-placement="bottom" title="Crave Cupcakes">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.fiascogelato.ca/" target="_blank">
              <img data-src="/images/logos/Fiasco-Gelato-logo.png" class="img-responsive img-centered lazyload" alt=""
                  data-toggle="tooltip" data-placement="bottom" title="Fiasco Gelato">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
