<section class="sponsors bg-gray"><a id="sponsors" class="anchor"></a>
  <div class="container">
    <h1 class="text-center section-heading">Our Sponsors</h1>
    <div class="sponsors-table">
      <h6 class="sponsor-tier text-center text-muted">Platinum</h6>
      <hr class="section-heading-divider">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 col-md-3 text-center">
          <a href="https://vizworx.com/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/VizworX-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="VizworX Inc.">
          </a>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <a href="https://albertainnovates.ca/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/Alberta-Innovates-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="Alberta Innovates">
          </a>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <a href="https://www.theaceclass.com/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/The-Ace-Class-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="The Ace Class">
          </a>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <a href="https://fmav.ca/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/FMAV-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="FMAV">
          </a>
        </div>
      </div>
      <h6 class="sponsor-tier text-center text-muted">Silver</h6>
      <hr class="section-heading-divider">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 col-md-4 text-center">
          <a href="https://www.ucalgary.ca/science/ideas_fund/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/The-IDEAS-Fund-logo.png" style="max-height: 130px;"
              data-toggle="tooltip" data-placement="bottom" title="The IDEAS Fund">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 text-center">
          <a href="https://nulli.com/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/Nulli-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="Nulli - Identity Management">
          </a>
        </div>
        <div class="col-md-4 text-center">
          <a href="https://lighthouselabs.ca/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/Lighthouse-Labs-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="Lighthouse Labs">
          </a>
        </div>
      </div>
      <h6 class="sponsor-tier text-center text-muted">Bronze</h6>
      <hr class="section-heading-divider">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 col-md-3 text-center">
          <a href="https://www.quonassociates.com/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/Quon-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="Quon and Associates">
          </a>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <a href="https://cravecupcakes.ca/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/Crave-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="Crave Cupcakes">
          </a>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <a href="https://www.fiascogelato.ca/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/Fiasco-Gelato-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="Fiasco Gelato">
          </a>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <a href="https://www.worknicer.com/" target="_blank">
            <img class="img-fluid lazyload" data-src="/images/logos/Work-Nicer-logo.png" data-toggle="tooltip"
              data-placement="bottom" title="Work Nicer Coworking">
          </a>
        </div>
      </div>
      <h6 class="sponsor-tier text-center text-muted">Community Partners</h6>
      <hr class="section-heading-divider">
      <div class="row justify-content-center align-items-center">
      </div>
    </div>
  </div>
</section>
