<section class="sponsors"><a id="sponsors" class="anchor"></a>
  <div class="container">
    <h1 class="text-center section-heading">Our Sponsors</h1>
    <h6 class="sponsor-tier text-center text-muted">Media</h6>
    <hr class="section-heading-divider">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://curiocity.com/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/Curiocity-logo.png"
              data-toggle="tooltip" data-placement="bottom" title="Curiocity">
        </a>
      </div>
    </div>
    <h6 class="sponsor-tier text-center text-muted">Title</h6>
    <hr class="section-heading-divider">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://albertainnovates.ca/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/Alberta-Innovates-logo.png"
              data-toggle="tooltip" data-placement="bottom" title="Alberta Innovates">
          <img class="partner-recurring" src="/images/recurring-sponsor-lightbulb.png"
              data-toggle="tooltip" data-placement="bottom" title="Recurring sponsor">
        </a>
      </div>
    </div>
    <h6 class="sponsor-tier text-center text-muted">Silver</h6>
    <hr class="section-heading-divider">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://www.ucalgary.ca/science/ideas_fund/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/The-IDEAS-Fund-logo.png"
              style="max-height: 130px;" data-toggle="tooltip" data-placement="bottom" title="The IDEAS Fund">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://nulli.com/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/Nulli-logo.png"
              data-toggle="tooltip" data-placement="bottom" title="Nulli - Identity Management">
        </a>
      </div>
      <!-- <div class="col-md-4 text-center">
        <a href="https://lighthouselabs.ca/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/Lighthouse-Labs-logo.png"
              data-toggle="tooltip" data-placement="bottom" title="Lighthouse Labs">
        </a>
      </div> -->
    </div>
    <!-- <h6 class="sponsor-tier text-center text-muted">Bronze</h6>
    <hr class="section-heading-divider">
    <div class="row justify-content-center align-items-center">
       <div class="col-sm-6 col-md-4 text-center">
        <a href="https://cravecupcakes.ca/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/Crave-logo.png"
              data-toggle="tooltip" data-placement="bottom" title="Crave Cupcakes">
        </a>
      </div>
    </div> -->
    <h6 class="sponsor-tier text-center text-muted">Iron</h6>
    <hr class="section-heading-divider">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://www.ocya.alberta.ca/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/OCYA-logo.png" style="max-height: 100px;"
              data-toggle="tooltip" data-placement="bottom" title="Office of the Child and Youth Advocate">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://www.anchorpg.ca/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/Anchor-Professional-Services-logo.png"
              data-toggle="tooltip" data-placement="bottom" title="Anchor Professional Services">
          <img class="partner-recurring" src="/images/recurring-sponsor-lightbulb.png"
              data-toggle="tooltip" data-placement="bottom" title="Recurring sponsor">
        </a>
      </div>
    </div>
    <h6 class="sponsor-tier text-center text-muted">Community Partners</h6>
    <hr class="section-heading-divider">
    <div class="row justify-content-center align-items-center">
      <!-- <div class="col-sm-6 col-md-4 text-center">
        <a href="https://www.fiascogelato.ca/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/Fiasco-Gelato-logo.png"
              style="max-height: 90px;" data-toggle="tooltip" data-placement="bottom" title="Fiasco Gelato">
          <img class="partner-recurring" src="/images/recurring-sponsor-lightbulb.png"
              data-toggle="tooltip" data-placement="bottom" title="Recurring sponsor">
        </a>
      </div> -->
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://knordicspa.com/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/Kananaskis-Nordic-Spa-logo.png"
              style="max-height: 110px;" data-toggle="tooltip" data-placement="bottom" title="Kananaskis Nordic Spa">
        </a>
      </div>
      <!-- <div class="col-sm-6 col-md-4 text-center">
        <a href="https://hustleco.space/" target="_blank">
          <img class="img-fluid partner-logo lazyload" data-src="/images/logos/HustleCo-logo.png"
              style="max-height: 100px;" data-toggle="tooltip" data-placement="bottom" title="HustleCo">
        </a>
      </div> -->
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://www.instagram.com/macaronsbymegan/" target="_blank">
          <img class="img-fluid partner-logo lazyload rounded-circle" style="max-height: 125px;"
              data-src="/images/logos/Macarons-by-Megan-logo.png" data-toggle="tooltip" data-placement="bottom"
              title="Macarons by Megan">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 text-center">
        <a href="https://www.instagram.com/sweettreatsbybella/" target="_blank">
          <img class="img-fluid partner-logo lazyload rounded-circle" style="max-height: 125px;"
              data-src="/images/logos/Sweet-Treats-by-Bella-logo.jpg" data-toggle="tooltip" data-placement="bottom"
              title="Sweet Treats by Bella">
        </a>
      </div>
    </div>
  </div>
</section>
