<!-- Team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading" style="margin-bottom: 60px;">Our Team</h2>
				<!-- <h3 class="section-subheading text-muted"></h3> -->
			</div>
		</div>
		<div class="row">
			{% assign sorted_members = site.team | sort:"img" %}
			{% for member in sorted_members %}
				{%- if member.name == "Richard Yang" -%}
					<div class="col-md-12">
				{%- else -%}
					<div class="col-sm-4">
				{%- endif -%}
						<div class="team-member">
							<h4>{{ member.name }}</h4>
							<p class="text-muted">{{ member.position }}</p>
							<ul class="list-inline social-buttons">
								<!-- {% for network in member.social %}
								<li>
									<a href="{{ network.url }}">
										<i class="fa fa-{{ network.title }}"></i>
									</a>
								</li>
								{% endfor %} -->
								<a href="#{{ member.modal-id }}" data-toggle="modal">
									<i class="fa fa-2x fa-plus-circle" data-toggle="tooltip" data-placement="bottom" title="Click to read more!"></i>
								</a>
							</ul>
						</div>
					</div>
			{% endfor %}
		</div>
		<!-- <div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p class="large text-muted"></p>
			</div>
		</div> -->
	</div>
</section>