<section class="team"><a id="team" class="anchor"></a>
  <div class="container">
    <h1 class="text-center section-heading">Team</h1>
    <hr class="section-heading-divider">
    <div class="row">
      {% assign sorted_members = site.team | sort:"order" %}
      {% for member in sorted_members %}
      <div class="col-sm-6 col-md-4 text-center member-box">
        <a href="#{{ member.modal-id }}" data-toggle="modal">
          <div class="modal-img">
            <img class="rounded-circle img-fluid img-thumbnail lazyload"
                data-src="{% if member.img %}/images/team/{{ member.img }}
                          {% else %}data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={% endif %}">
            <div class="modal-overlay rounded-circle"><i class="fa fa-plus fa-3x text-white"></i></div>
          </div>
        </a>
        <a href="#{{ member.modal-id }}" data-toggle="modal">
          <p class="team-name text-center">
            <strong><span style="text-decoration: underline;">{{ member.name }}</span></strong>
            <br>
          </p>
        </a>
        <p class="team-subtitle text-center text-muted">{{ member.position }}<br></p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
