<section class="theme bg-gray"><a id="theme" class="anchor"></a>
  <div class="container bg-gray">
    <h1 class="text-center section-heading">Theme</h1>
    <hr class="section-heading-divider">
    <div class="row align-items-center pb-4">
      <!-- <div class="col-md-4">
        <picture>
          <source media="(min-width: 768px)" data-srcset="/images/Shifting-Equilibrium.png">
          <source media="(max-width: 768px)" data-srcset="/images/Shifting-Equilibrium-small.png">
          <img class="img-fluid pb-3 lazyload"
              data-src="/images/Shifting-Equilibrium.png">
        </picture>
      </div> -->
      <div class="col-md-12">
        <p class="text-muted mb-0">
          Our event theme for this year is “Ctrl Alt Del”. The idea of Ctrl Alt Del is meant to highlight individuals who
          have dared to take <span class="text-primary">control</span> of their lives by
          <span class="text-primary">deleting</span> old, fixed-mindset based ideas and pushed their innovative,
          <span class="text-primary">alternate</span> ideas forward! More information regarding the meaning of this
          year's event theme can be found here:&nbsp;
          <a href="http://tiny.cc/ctrlaltdel" target="_blank">
            http://tiny.cc/ctrlaltdel&nbsp;<i class="fas fa-external-link-alt text-primary"></i>
          </a>
        </p>
      </div>
    </div>
    <p class="text-muted">
      We believe in cultivating a community of engaged, empowered youth through the spreading of innovative ideas, and
      we hope that you can join us at TEDxYouth@VictoriaPark 2020!
    </p>
    <p class="text-muted">
      <a href="#shifting-equilibrium" data-toggle="modal">
        Click here to see the theme of TEDxYouth@VictoriaPark 2019
      </a>
    </p>
  </div>

  <div class="modal fade" id="shifting-equilibrium" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h2 class="modal-title flex-fill text-center">Shifting Equilibrium</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-4">
                <picture>
                  <source media="(min-width: 768px)" data-srcset="/images/Shifting-Equilibrium.png">
                  <source media="(max-width: 768px)" data-srcset="/images/Shifting-Equilibrium-small.png">
                  <img class="img-fluid pb-3 lazyload"
                      data-src="/images/Shifting-Equilibrium.png">
                </picture>
              </div>
              <div class="col-md-8">
                <p class="text-muted">
                  Our event theme for TEDxYouth@VictoriaPark 2019 was “Shifting Equilibrium: A Journey Into the Unknown”.
                  “Shifting Equilibrium” is meant to represent individuals, communities, and ideas that have been
                  (or will be) affected by some sort of vast technological, ideological, societal, or psychological
                  change. In addition, the notion of “A Journey Into The Unknown” is meant to complement the idea of
                  “Shifting the Equilibrium”, and is intended to represent people who dared to explore an environment
                  that was completely unknown to them. More information regarding the underlying meaning of the event
                  theme can be found here:&nbsp;
                  <a href="https://tiny.cc/shiftingequilibrium" target="_blank">
                    https://tiny.cc/shiftingequilibrium&nbsp;<i class="fas fa-external-link-alt text-primary"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
