<section class="theme bg-gray"><a id="theme" class="anchor"></a>
  <div class="container bg-gray">
    <h1 class="text-center section-heading">Theme</h1>
    <hr class="section-heading-divider">
    <picture>
      <source media="(min-width: 768px)" data-srcset="/images/Shifting-Equilibrium.png">
      <source media="(max-width: 768px)" data-srcset="/images/Shifting-Equilibrium-small.png">
      <img class="img-fluid float-sm-none float-md-left mx-auto d-block theme-img lazyload"
          data-src="/images/Shifting-Equilibrium.png">
    </picture>
    <p class="text-muted" src="assets/img/Shifting-Equilibrium.png">
      Our event theme for this year is “Shifting Equilibrium: A Journey Into the Unknown.” “Shifting Equilibrium” is
      meant to represent individuals, communities, and ideas that have been (or will be) affected by some sort of vast
      technological, ideological, societal, or psychological change. In addition, the notion of “A Journey Into The
      Unknown” is meant to complement the idea of “Shifting the Equilibrium”, and is intended to represent people who
      dared to explore an environment that was completely unknown to them. More information regarding the underlying
      meaning of the event theme can be found here:&nbsp;
      <a href="https://tiny.cc/shiftingequilibrium" target="_blank">
        https://tiny.cc/shiftingequilibrium&nbsp;<i class="fas fa-external-link-alt text-primary"></i>
      </a>
    </p>
    <p class="text-muted">
      We believe in cultivating a community of engaged, empowered youth through the spreading of innovative ideas, and
      we hope that you can join us at TEDxYouth@VictoriaPark 2019!
    </p>
  </div>
</section>
