body {
  background: #fff;
  font-family: $fontBody;
  color: $colorSecondaryDark;
}

@media (max-width: 575px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.container {
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontPrimary;
  font-weight: 700;
}

h1 {
  text-transform: uppercase;
}

p {
  font-size: 15px;
  line-height: 1.6;
}

a {
  color: $colorPrimary;
}
a:hover, a:focus, a:active {
  color: $colorPrimary;
}

.btn {
  font-family: $fontPrimary;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $colorPrimary;
  border: 2px solid $colorPrimary;
  border-radius: 3px;
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
}
.btn:hover, .btn:focus {
  color: #fff !important;
  background-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.btn:active {
  border-color: $colorPrimary !important;
  background-color: $colorPrimary !important;
}

.text-primary {
  color: $colorPrimary !important;
}

.text-light {
  color: #fff !important;
}

.text-light-dim {
  color: rgba(255,255,255,.75);
}

.text-muted {
  color: $colorMuted !important;
}

.bg-gray {
  background-color: $colorBgGray !important;
}

.bg-dark {
  background-color: $colorBgDark !important;
}

.tooltip.bs-tooltip-bottom {
  margin-top: 10px;
}

.tooltip-inner {
  font-family: $fontSecondary;
}