header {
  color: #fff;
  height: 100vh;
  height: -webkit-fill-available;
  text-align: center;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 768px) {
  header {
    background-image: url("/images/header-bg-blurred-small.jpg");
  }
}
@media (min-width: 768px) {
  header {
    background-image: url("/images/header-bg-blurred.jpg");
  }
}

header .hero .intro-img {
  max-width: 80%;
  padding-bottom: 40px;
}

header .hero .intro-heading {
  text-transform: none;
  font-size: 19px;
}

header .hero .intro-button {
  font-size: 16px;
}

@media (min-width: 576px) {
  header .hero .intro-img {
    max-width: 60%;
  }
  header .hero .intro-heading {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  header .hero .intro-img {
    max-width: 50%;
  }
  header .hero .intro-heading {
    font-size: 34px;
  }
}
@media (min-width: 992px) {
  header .hero .intro-img {
    max-width: 40%;
  }
  header .hero .intro-heading {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  header .hero .intro-img {
    max-width: 30%;
  }
  header .hero .intro-heading {
    font-size: 32px;
  }
}

header .hero-scroll {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  font-size: 45px;
  color: #fff;
  animation: MoveUpDown 2s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 30px;
  }
  50% {
    bottom: 60px;
  }
}
