section.sponsors .section-heading {
  margin-bottom: 30px;
}

section hr.section-heading-divider {
  margin-bottom: 20px;
}

section.sponsors .sponsor-tier {
  padding-top: 20px;
  margin-bottom: -10px;
  text-transform: uppercase;
}

section.sponsors img.partner-logo {
  max-height: 80px;
  margin-bottom: 40px;
}
