section.sponsors .section-heading {
  margin-bottom: 30px;
}

section hr.section-heading-divider {
  margin-bottom: 20px;
}

section.sponsors .sponsor-tier {
  padding-top: 20px;
  margin-bottom: -10px;
  text-transform: uppercase;
}

section.sponsors img.partner-logo {
  max-height: 80px;
  margin-bottom: 40px;
}

section.sponsors img.partner-recurring {
  position: absolute;
  width: 30px;
  transform: rotate(20deg);
  padding-left: 10px;
  z-index: 1;
}
