@media (min-width: 1024px) {
  .social-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 10;
  }

  .social-bar a {
    display: block;
    position: relative;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    outline: 0;
    color: #fff;
    background-color: #222;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
  }

  .social-bar a:first-child {
    border-radius: 10px 0px 0px 0px;
  }

  .social-bar a:last-child {
    border-radius: 0px 0px 0px 10px;
  }
}

@media (max-width: 1023px) {
  .social-bar {
    display: none;
  }
}
