$colorPrimary: #f21b23;
$colorSecondary: #dd3333;
$colorSecondaryDark: #333;
$colorMuted: #555;

$fontPrimary: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSecondary: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
