#landing {
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 768px) {
  #landing {
    background-image: url("/images/header-bg-blurred-small.jpg");
  }
}

@media (min-width: 768px) {
  #landing {
    background-image: url("/images/header-bg-blurred.jpg");
  }
}

#landing .landing-heading {
  font: 700 4vh $fontPrimary;
  padding-top: 8vh;
  margin-bottom: 1vh;
}

@media (max-width: 1329px) {
  #landing .landing-heading {
    padding-top: 12vh;
  }
}

#landing .landing-subheading {
  font: 400 3vh $fontSecondary;
  margin-bottom: 4vh;
}

#landing .landing-section {
  margin-bottom: 4vh;
}

#landing .landing-section .landing-section-heading {
  font: 700 2.2vh $fontPrimary;
  margin: 15px 0;
}

#landing .landing-section p {
  font-size: 2vh;
  line-height: 2.5vh;
}

#landing .landing-section .landing-date {
  text-align: right;
}

#landing .landing-section .landing-location {
  text-align: left;
}

#landing .landing-map {
  margin-bottom: 4vh !important;
}

#landing iframe#landing-map {
  width: 46vh;
  height: 23vh;
}

#landing a.btn {
  padding: 2.2vh 4.4vh;
  font-size: 2vh;
}

// For mobile
@media (max-width: 767px) {
  #landing .landing-heading {
    padding-top: 5.5vh;
    font-size: calc(10px + 2.5vw);
  }

  #landing .landing-subheading {
    font-size: calc(10px + 2vw);
    margin-bottom: 2vh;
  }

  #landing .landing-section {
    margin-bottom: 2vh;
  }
  
  #landing .landing-section .landing-section-heading {
    margin: 10px 0;
  }

  #landing .landing-section .landing-date {
    text-align: center;
  }
  
  #landing .landing-section .landing-location {
    text-align: center;
  }

  #landing iframe#landing-map {
    width: 80vw;
    height: 20vh;
  }
}
